
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Masa Bulunamadı</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <link href="~/Belgeler/CSS/NormalizeCss.css" rel="stylesheet" />
    <link href="~/Belgeler/Bootstrap/bootstrap-4.6.1-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Belgeler/CSS/MyCss.css" rel="stylesheet" />
</head>
<body>
    <div class="container container-fluid">
        <div class="card mycard my-5">
            <div class="card-body text-center">
                <i class="fas fa-exclamation-triangle"></i>
                <br />
                <span>Masa Bulunamadı!</span>
                <br />
                <span class="comment">-Lütfen masanızda bulunan karekodu okutarak tekrar deneyiniz.</span>
            </div>
        </div>
    </div>
    <script src="~/Belgeler/JS/JQuery/JQuery.js"></script>
    <script src="~/Belgeler/Bootstrap/bootstrap-4.6.1-dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
